.main-container {
    background-color: lightgray;
    padding: 30px;
}

.heading {
    font-family: 'Roboto';
    font-size: 52px;
    color: blue;
    text-align: center;
}

.search-card {
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto';
    font-size: 14px;
}

.input {
    font-family: 'Roboto';
    font-size: 14px;
    padding: 6px;
    width: 262px;
    background-color: transparent;
    border: 1px solid lightyellow;
    border-radius: 12px;
    outline: none;
    padding-left: 14px;
}

.input:hover {
    background-color: lightyellow;
}

.list-container {
    list-style-type: none;
    padding-left: 0px;
}

.row-head {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    margin-bottom: 0px;
}

.head-id {
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: bold;
    width: 42px;
    border: 1px solid black;
    border-right: none;
    padding: 10px;
    margin-bottom: 0px;
}

.head-title {
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: bold;
    width: 342px;
    border: 1px solid black;
    border-right: none;
    padding: 10px;
    margin-bottom: 0px;
}

.head-desc {
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: bold;
    width: 700px;
    border: 1px solid black;
    border-right: none;
    padding: 10px;
    margin-bottom: 0px;
}

.head-price {
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: bold;
    width: 100px;
    border: 1px solid black;
    border-right: none;
    padding: 10px;
    margin-bottom: 0px;
}

.head-cate {
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: bold;
    width: 100px;
    border: 1px solid black;
    border-right: none;
    padding: 10px;
    margin-bottom: 0px;
}

.head-sold {
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: bold;
    width: 100px;
    border: 1px solid black;
    border-right: none;
    padding: 10px;
    margin-bottom: 0px;
}

.head-img {
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: bold;
    width: 100px;
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 0px;
}
